/*big screens*/
body {
  height: 100%;
  background-image: url('../images/stonehaven.png');
}

#header {
  background-color: white;
  margin-bottom: 5%;
}

.social {
  height: 50px;
  width: 50px;
  margin: 3%;
}

#headshot {
    float: left;
    width: 20%;
    margin: 3%;
    margin-bottom: -1.6%
}

p {
    font-size: 22px;
    margin: 3%;
    color: #2A9595;
}

h2 {
  border-bottom: 2px solid #D2F5F5;
  color: #0DC8C8;
}

h1 {
  margin-left: 5%;
  color: #0DC8C8;
}

#aboutPanel {
 width: 80%;
}

#connectPanel {
  width: 80%;
}

.nav {
  margin-top: 3%;
  margin-right: 2%;
  float: right;
}

#nameLogo {
  background-color: #0DC8C8;
  color: white;
  font-size: 60px;
}

.item {
   display: inline-block;
    margin: 2%;
    border: 15px solid #D2F5F5;;
}

.portfolioImage {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 3%;
}

.portfolioButton {
  width: 210px;
}

#resumePanel, #portfolio {
  max-height: 500px;
  overflow-y: scroll;
}


/*end big screens*/

/*tablets*/
@media screen and (max-width: 980px) and (min-width: 601px) and (-webkit-min-device-pixel-ratio: 2) {
    #connectPanel {
     width: 100%;
}

#aboutPanel {
 width: 100%;
}

#resumePanel, #portfolio {
  max-height: 5500px;
}


 
}
/*end tablets*/


/*phones*/
@media screen and (max-width: 600px) and (min-width: 250px) and (-webkit-min-device-pixel-ratio: 2) {
    #headshot {
    clear: both;
    width: 80%;
    margin: 0%;
    margin-left: 10%;
    margin-bottom: 3%
}

#aboutPanel {
text-align: center;
 width: 100%;
}

#connectPanel {
  width: 100%;
}

#resumePanel, #portfolio {
  max-height: 5500px;
}


}
/*end phones*/


